.content {
  &__header,
  &__body,
  &__footer {
    @media (min-width: 992px) {
      padding-left: 5em;
      padding-right: 5em;
    }
    @media (max-width: 991px) {
      padding-left: 2em;
      padding-right: 2em;
    }
  }
  &__body,
  &__footer {
    margin-top: 1em;
  }
  &__header {
    background-color: #eee;
    @media (min-width: 992px) {
      padding-top: 5em;
      padding-bottom: 5em;
    }
    @media (max-width: 991px) {
      padding-top: 2em;
      padding-bottom: 2em;
    }
  }
  &__footer {
    @media (min-width: 992px) {
      padding-bottom: 5em;
    }
    @media (max-width: 991px) {
      padding-bottom: 2em;
    }
  }
}